@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    font-family: 'Poppins',sans-serif;
}

/*Navbar*/

.navbar{
    padding: 40px 0;
    z-index: 99;
}
nav.nav-custom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    position: relative;
    z-index: 99;
}






.nav-left{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links-custom{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

a.link-secondary{
    text-decoration: none;
    color: #969696;
}

button.btn-primary-custom{
    background: rgb(210,228,255);
    background: linear-gradient(90deg, rgba(210,228,255,1) 0%, rgba(142,187,255,1) 100%);
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 14px 28px;
    border-radius: 8px;
    border: 1px solid #fff;
    transition: 0,3s ease-in;
    
}
button.btn-primary-custom:hover{
    transform: scale(1.02);
    transition: 0,3s ease-in;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.08);
}


/*Heading & paragraph*/
.h1-custom{
    font-size: 62px;
    font-weight: bold;
    color: #696969;
}

.p-secondary{
    font-size: 16px;
    color: #969696;
    width: 80%;
}

img.img-hero{
    position: absolute;
    right: 0;
    top: 0;
}

.two-section{
    margin-top: 300px;
    width: 100%;
}

@media screen and (max-width: 600px){
    .banner{
        text-align: center;
    }
    .p-secondary{
        font-size: 14px;
        width: 100%;
    }
    .h1-custom{
        font-size: 36px;
    }
    .h1-custom i{
        font-size: 36px;
    }
    .h1-custom br{
        display: block;
    }
    .banner img{
        position: relative;
        width: 300px;
        margin-top: 20px;
    }
}

.card{
    width: 256px;
    height: 290px;
    border-radius: 20px;
    align-items: center;
    padding-top: 50px;
    box-shadow: 1px 27px 32px -7px rgba(255,218,243,0.75);
    -webkit-box-shadow: 1px 27px 32px -7px rgba(255,218,243,0.75);
    -moz-box-shadow: 1px 27px 32px -7px rgba(255,218,243,0.75);
}

.title-card{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #696969;
}

.desk-card{
    color: #696969;
}

i{
    font-size: 72px;
}

.card2{
    width: 256px;
    height: 290px;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    box-shadow: 1px 27px 32px -7px rgba(255,229,218,0.75);
    -webkit-box-shadow: 1px 27px 32px -7px rgba(255,229,218,0.75);
    -moz-box-shadow: 1px 27px 32px -7px rgba(255,229,218,0.75);
}

.card3{
    width: 256px;
    height: 290px;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    box-shadow: 1px 27px 32px -7px rgba(218,255,251,0.75);
    -webkit-box-shadow: 1px 27px 32px -7px rgba(218,255,251,0.75);
    -moz-box-shadow: 1px 27px 32px -7px rgba(218,255,251,0.75);
}
.card4{
    width: 256px;
    height: 290px;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    box-shadow: 1px 27px 32px -7px rgba(254,255,218,0.75);
    -webkit-box-shadow: 1px 27px 32px -7px rgba(254,255,218,0.75);
    -moz-box-shadow: 1px 27px 32px -7px rgba(254,255,218,0.75);
}



.icon-user{
    color: rgb(255,184,232);
    color: linear-gradient(90deg, rgba(255,184,232,1) 0%, rgba(255,108,207,1) 100%);;
}

.icon-star{
    color: rgb(255,211,193);
    color: linear-gradient(90deg, rgba(255,211,193,1) 0%, rgba(255,176,143,1) 100%);
}

.icon-shield-check{
    color: rgb(184,254,246);
    color: linear-gradient(90deg, rgba(184,254,246,1) 0%, rgba(86,232,216,1) 100%);
}

.icon-clock{
    color: rgb(255,245,192);
    color: linear-gradient(90deg, rgba(255,245,192,1) 0%, rgba(255,231,105,1) 100%);
}

.card-body{
    margin-top: -20px;
}


@media screen and (max-width: 600px){
    .two-section{
        margin-top: 100px;
    }
    .about{
        justify-content: space-between;
    }
    .card{
        margin-right: auto;
        margin-left: auto;
    }
    .card2{
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
    }
    .card3{
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
    }
    .card4{
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px; 
    }
}


.three-section{
    margin-top: 100px;
}

.h2-custom{
    font-size: 48px;
    color: #696969;
    font-weight: bold;
}

.info-right{
    padding-left: 50px;
    padding-top: 150px;
}

.p-info{
    font-size: 16px;
    color: #969696;
    width: 70%;
}

.info-button{
    display: flex;
}

.cara-daftar{
    margin-left: 20px;
}

.btn-link-custom{
    color: #8EBBFF;
    background: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 14px 28px;
    transition: 0,3s ease-in;
    text-decoration: underline;
    border: none;
}

.btn-link-custom:hover{
    text-decoration: none;
    border-radius: 8px;
    transform: scale(1.02);
    transition: 0,3s ease-in;
}

@media screen and (max-width: 600px){

    .three-section{
        justify-content: center;
        text-align: center;
        padding: 50px 0;
    }
    .p-info{
        font-size: 14px;
        width: 100%;
    }
    .three-section img{
        width: 300px;
    }
    .info-right{
        padding: 20px;
    }
}

.four-section{
    background-color: #F5F9FF;
}

.four-section .quote{
    padding-top: 150px;
}

.four-section hr{
    padding-top: -5px;
}
.four-section .line{
    border: 1px solid #8EBBFF;
}

.four-section p{
    font-size: 16px;
    color: #8EBBFF;
}

.four-section p::before{
    content: "\2014\0020";
}

.four-section img{
    position: relative;
    z-index: 20;
    margin-top: -80px;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px){

    .four-section .quote{
        padding-top: 50px;
    }

    .four-section p{
        font-size: 14px;
        color: #8EBBFF;
    }

    .h2-custom{
        font-size: 32px;
    }
    .four-section img{
        z-index: 0;
        margin: 0 0 50px 0;
        width: 300px;
    }
}


.five-section{
    min-height: 400px;
}

.five-section .footer{
    min-height: 400px;
    align-items: center;
}

.five-section .footer .footer-left img{
    margin-bottom: 20px;
}
.five-section .footer .footer-left .desk-logo{
    font-size: 16px;
    color: #969696;
    width: 90%;
}
.five-section .footer .footer-left p{
    font-size: 16px;
    color: #969696;
}
.five-section .footer .footer-left a{
    font-size: 16px;
    color: #8EBBFF;
}
.five-section .footer .footer-mid i{
    font-size: 24px;
    color: #8EBBFF;
}
.five-section .footer .footer-right .info-contact{
    color: #8EBBFF;
    font-size: 24px;
    font-weight: 600;
}

@media screen and (max-width: 600px){
    .five-section{
        padding: 30px 0;
        justify-content: center;
        max-width: 100%;
    }

    .footer{
        text-align: center;
    }

    .five-section .footer .footer-left .desk-logo{
        font-size: 14px;
        width: 100%;
    }

    .five-section .footer .footer-left p{
        font-size: 14px;
    }
    .five-section .footer .footer-left a{
        font-size: 14px;
        color: #8EBBFF;
    }

    .footer-right img {
        width: 30px;
    }

    .five-section .footer .footer-right .info-contact{
        color: #8EBBFF;
        font-size: 16px;
        font-weight: 600;
    }

}


